html {
  scroll-behavior: smooth;
}

*,*::before, *::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Futura PT', 'Arial', sans-serif;
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #F9F9F9;
}

main {
  flex-grow: 1;
}

img {
  vertical-align: middle;
  object-fit: cover;
}